@charset "UTF-8";
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  body {

    height: 100%;
    line-height: 1;
    font-family: Montserrat;
    font-weight: 500;
    background: #fafafa;
  }
  /*Конец обнуления*/
@media(min-width:320px){
  main{

  }
.wrapper{
overflow: hidden;
    min-width: 320px;
    font-family: "SF Pro Text",-apple-system, BlinkMacSystemFont, sans-serif;
    color: #FFFFFF;
    .header{
      position: relative;
      content: '';
      z-index: 5;
        height: 262px;
        background:linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
    .header__title{
        padding:46px 26px 5px 43px;
        font-size: 24px;
        line-height: 171%;
        text-align: center;
        letter-spacing: 0.261176px;
    }
    .header-list{
        font-size: 12px;
        line-height: 14px;
        padding-left: 20px;


        .header-list__item:not(:last-child){
            padding-bottom: 12px;
        }
    }
}
}

.header-information{
    display: flex;
    justify-content: space-between;  

}

.header-sportswoman{
  margin-top: -30px;
  width: 53px;
  height: 157px;
    padding-left: 60px;
    padding-right: 28px;
     background-image:url('../assets/svg/Bitmap.svg');
}  
.text-slider {
  position: relative;
  content: '';
  z-index: 6;
    margin-top: -55px;
    margin-bottom: 6px;

.text-slider__wrapper {



.text-slider__comments {
    height: 111px;
    padding: 15px;
    background: #F3F2F9;
    // backdrop-filter: blur(9.06094px);
    border-radius: 10px;
    min-width: 280px;
    color: #1a1a1a;
   margin: 0 auto; 



}}}

.slide-text {

    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

        .text-title {
        display: flex;
        align-items: center;}

        .text-name {
            opacity: 0.5;
}
}
.slide-grade {
    height: 17px;
    width: 85px;
    background: url('../assets/png/Star.png');

}
.slide-comment {
    margin-top: 9px;
    font-size: 13px;
    line-height: 16px;
    // color: #1A1A1A;
}



.price-container{
  margin: 0px 20px 13px 20px;

  .price-wrapper{
    min-width:280px ;
    max-height: 132px;
    display: flex;
    justify-content: space-between;
    color: #1A1A1A;

  }

.title{
  font-size: 20px;
  line-height: 23px;
  text-align: center;

}
.price{
  padding: 5px 0 3px 0;
}
.price-label{
  align-self: flex-end;
}
.price__block1{
 
  border-radius: 5px;
  height: 112px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.3px;
  background: #F3F2F9;
  backdrop-filter: blur(9.06094px);  
  // color: #1A1A1A;
}

.price-radio{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.blick1__all{
  margin: 4px 6px 23px 6px;
}


}
.price-label:hover{
  cursor: pointer;
}
.price-label:hover ,.price-radio:checked{
  .price__block1,  .blick2__all, .blick3__all{
    color: #ffffff;
    background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
backdrop-filter: blur(9.06094px);

  }

}
.price-radio:checked ~ .price__block1,.price-radio:checked ~ .price__block2,.price-radio:checked ~  .price__block3{
  color: #ffffff;
  background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
backdrop-filter: blur(9.06094px);
.save, .block3__sale{
  color: #000;
}

}
.save{
  height:21px;
  width: 100%;
  background: #FCBF59;
  backdrop-filter: blur(9.06094px);
  border-radius: 5px 5px 0 0;
  font-size: 11px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.66px;
  text-transform: uppercase;
  // color: #1A1A1A;
  padding: 3px 12.5px 0 13.5px;

}
.blick2__all{
  border-radius: 0 0 5px 5px;
}
.price__block2{
  border-radius: 5px;
  height: 132px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.3px;
  background: #F3F2F9;
  backdrop-filter: blur(9.06094px);  
  // color: #1A1A1A;
}
.all{
  height: 112px;
}
.block3{
  border-radius: 5px;
}
.block3__save{
  background: #FCA759;
backdrop-filter: blur(9.06094px);

}
.price__block3{
  height: 132px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.3px;
  background: #F3F2F9;
  backdrop-filter: blur(9.06094px);  
  // color: #1A1A1A;
}
.block3__sale{
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 15px;
  background: #FCA759;
  backdrop-filter: blur(9.06094px);
  font-size: 7px;
line-height: 211%;
text-align: center;
letter-spacing: 0.42px;
text-transform: uppercase;
// color: #1A1A1A;
}
.blick3__all{
  height: 97px;
}

.continue__button {
margin: 13px 20px 17px;
}
.continue__text__button {
  display: flex;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  background: linear-gradient(225deg, #542285 0%, #222266 100%);
  border-radius: 5px;
  min-width: 280px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.footer-text{
  font-size: 11px;
  line-height: 136%;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;

}}


@media(min-width:375px){

  .wrapper{
        .header{
            height: 419px; 
        .header__title{
          width: 251px;
            padding: 0px;
            padding-top: 80px;
            margin: 0 0 36px 67px;


            font-size: 34px;
            line-height: 121%;
           // text-align: center;
            letter-spacing: 0.37px;
        }
        .header-list{
            padding-left: 16px;  
                .header-list__item:not(:last-child){
                padding-bottom: 31px;
            }
        }
    }
    }
    .header-sportswoman{
      margin-top: -50px;
      margin-left: -26px;
      width: 110px;
      height: 240px;
        padding-left: 60px;
        padding-right: 28px;
        background:url('../assets/svg/Bitmap2.svg')no-repeat ;
    } 
    .text-slider {
      margin-top: -72px;
      margin-bottom: 21px;
  
  .text-slider__wrapper { 
    
  .text-slider__comments {
      height: 145px;
      padding: 20px;
      background: #F3F2F9;
      backdrop-filter: blur(9.06094px);
      min-width: 335px;  
  
  }}}
  
  .slide-text {  
      margin-bottom: 7px;  
          .text-title {
          display: flex;
          align-items: center;} 
  }
  .slide-grade {
      height: 17px;
      width: 85px;
      background: url('../assets/png/Star.png');  
  }
  .slide-comment {
      font-size: 15px;
      line-height: 18px;
  }
  



  .price-container{
    margin-bottom: 20px;
  
    .price-wrapper{
      min-width:335px ;
      min-height: 156px;
    }
  
  .title{
    font-size: 24px;
    line-height: 28px;

  }
  .price{
    padding: 7px 0 6px 0;
  }
  .price__block1{
    width: 105px;
    height: 131px;
    padding: 2px 9px 24px 10px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.354546px;

  }
  }
  .save{
    height:25px;
    width: 100%;
    font-size: 13px;
    line-height: 114%;
    letter-spacing: 0.78px;
    padding: 5px 15px 0 17px;
  
  }
  .price__block2{
 
    height: 156px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.354546px;

  }
  .all{
    height: 115px;
  }
  .block3__save{
    background: #FCA759;
  backdrop-filter: blur(9.06094px);
  
  }
  .price__block3{
    height: 156px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.354546px;

  }
  .block3__sale{

    height: 15px;
    font-size: 9px;
  line-height: 164%;
  letter-spacing: 0.54px;
  }
  .blick3__all{
    height: 115px;
  }
  
}




@media(min-width:414px){

  .wrapper{
        .header{
            height: 471px; 
        .header__title{
            margin-left: 86px;
            margin-bottom:50px ;

        }
        .header-list{
            padding-left: 33px;  
                .header-list__item:not(:last-child){
                padding-bottom: 33px;
            }
        }
    }
    }
    .header-sportswoman{
      margin-top: -60px;
      width: 120px;
      height: 280px;
        padding-left: 60px;
        padding-right: 28px;
        background:url('../assets/svg/Bitmap3.svg')no-repeat ;

    } 
    .text-slider {
      margin-top: -78px;
      margin-bottom: 29px;
  
  .text-slider__wrapper { 
    
  .text-slider__comments {

      min-width: 374px;  
  
  }}}
  
  .slide-text {  
      margin-bottom: 7px;  

  }
  .slide-grade {
      height: 17px;
      width: 85px;
      background: url('../assets/png/Star.png');  
  }

  



  .price-container{
    margin-bottom: 29px;
  
    .price-wrapper{
      min-width:374px ;
      min-height: 176px;
    }
  

  .price{
    padding: 12px 0 6px 0;
  }
  .price__block1{
    width: 118px;
    height: 151px;
    padding: 6px 11px 35px 11px;


  }
  }
  .save{

    padding: 5px 19px 0 19px;
  
  }
  .price__block2{
 
    height: 176px;


  }
  .all{
    height: 151px;
  }

  .price__block3{
    height: 176px;


  }
  .block3__sale{

    height: 16px;

  }
  .blick3__all{
    height: 136px;
  }
  
}