@charset "UTF-8";



/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  body {
    height: 100%;
    line-height: 1;
    font-family: Montserrat;
    font-weight: 500;
    background: #fafafa;
  }
  /*Конец обнуления*/

.wrapper{
overflow: hidden;
    width: 320px;
    font-family: "SF Pro Text",-apple-system, BlinkMacSystemFont, sans-serif;
    color: #FFFFFF;
    .header{
        height: 262px;
        background:linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);;
    .header__title{
        padding:46px 26px 5px 43px;
        font-size: 24px;
        line-height: 171%;
        text-align: center;
        letter-spacing: 0.261176px;
    }
    .header-list{
        font-size: 12px;
        line-height: 14px;
        padding-left: 20px;


        .header-list__item:not(:last-child){
            padding-bottom: 12px;
        }
    }
}
}

.header-information{
    display: flex;
    justify-content: space-between;  
    .header-sportswoman{
        padding-left: 60px;
        padding-right: 28px;
        background-image:url('../assets/svg/Bitmap.svg');
    }  
}

.text-slider {
    margin-top: -55px;
    margin-bottom: 6px;


.text-slider__wrapper {


.text-slider__slide {
    min-height: 111px;
    padding: 15px;
    background: #F3F2F9;
    backdrop-filter: blur(9.06094px);
    border-radius: 10px;
    max-width: 280px;
    margin: 0 5px;
    color: #1a1a1a;
}}}
.slide-text {
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

        .text-title {
        display: flex;
        align-items: center;}

        .text-name {
            opacity: 0.5;
}
}
.slide-grade {
    height: 17px;
    width: 85px;
    background: url('../assets/png/Star.png') ;
}
.slide-comment {
    margin-top: 9px;
    font-size: 13px;
line-height: 16px;


color: #1A1A1A;
}